.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10rem 10rem 10rem 10rem 10rem 10rem 10rem;
    background-color: #334834;
    
}

.header{
    grid-column: 1/6;
    grid-row: 1/2;
    
}


ul{
    text-align: center;
}
li{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    list-style: none;
}

.main1{
    grid-column: 1/6;
    grid-row: 2/5;
    
    
}

.img1{
    width: 100%;
    height: 100%;
}

.main2{
    grid-column: 1/6;
    grid-row: 5/10;
    
}

.aside1{
    grid-column: 1/3;
    grid-row: 50/100;
    
}

.img2{
    width: 100%;
    height: 100%;
    
}
.aside2{
    grid-column: 3/6;
    grid-row:50/100;
}

.img3{
    width: 100%;
    height: 100%;
    
}
    
a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace; 
}

h2{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

h3{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.site-logo__expanded{
    width: 70px;
    height: 70px;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links{
    display: flex;
    text-align: center;
}

.meny{
    display: flex;
    padding-right: 40px;
}

.bokabord{
    display: flex;
    padding-left: 40px;
}

.startsida{
    display: flex;
    padding-right: 40px;
}

.menu-container{
    display: flex;
    flex-direction: column;
    
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

.form-container{
   align-items: center;
}

.form-example{
   padding: 10px;
   text-align: center;
   
}

label{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    
}


#name{
    margin: 0px 0px;
    width: 80%;
    /*
    margin-right: 140px;
    margin-left: 140px;
    */
    align-self: center;
    box-sizing: border-box;
    
}

#email{
    margin: 0px 0px;
    width: 80%;
    /*
    margin-right: 140px;
    margin-left: 140px;
    */
    align-self: center;
    box-sizing: border-box;
    
}

#date{
    margin: 0px 0px;
    width: 40%;
    /*
    margin-right: 140px;
    margin-left: 140px;
    */
    align-self: center;
    box-sizing: border-box;
}

#time{
    margin: 0px 0px;
    width: 20%;
    /*
    margin-right: 140px;
    margin-left: 140px;
    */
    align-self: center;
    box-sizing: border-box;
}

#date{
    margin: 0px 0px;
    width: 20%;
    /*
    margin-right: 140px;
    margin-left: 140px;
    */
    align-self: center;
    box-sizing: border-box;
}

#textarea{
    margin: 0px 0px;
    width: 80%;
   /*
    margin-right: 140px;
    margin-left: 140px;
    */
    align-self: center;
    box-sizing: border-box;
}

#value{
        
        margin: 0px 170px;
        width: 60%;

}


footer{
    display: grid;
    grid-column: 3/6;
    grid-row:100/1000;
    
    background-color: #334834;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    bottom: 100px;
    

}